.table {
    border-collapse: collapse;
    background-color: #ffffff;
}
  
.thead-light th {
    background-color: #f8f9fa;
    text-align: left;
    padding: 10px;
}
  
tbody {
    display: block;
    height: calc(100vh - 250px);
    overflow-y: auto;
}
  
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
  
td {
    padding: 10px;
}
  
td img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}
  